/* ========== GLOBAL STYLE ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Source Sans 3', Arial, sans-serif;
}

@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/sourcesans3/v7/3Jn9SD... .woff2") format("woff2");
}

body {
    background: #f2f4f5;
}

/* ========== LAYOUT CONTAINER ========== */
.container {
    display: flex;
}

/* ========== SIDEBAR ========== */
.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #ffffff;
    padding: 20px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #33aa33;
    margin-bottom: center;
    justify-content: center;
    align-items: center;

}

.logo-icon {
    width: 20px; 
    height: auto;
    font-size: 28px;
    margin-right: 15px;
    border-radius: 5px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 500;
    transition: 0.2s;
}

.menu li:hover {
    background: #b6e59e;
}

.menu li.active {
    background: #A6E8A9;
    font-weight: bold;
    
}

/* ========== MAIN AREA ========== */
.main {
    flex: 1;
    padding: 30px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ========== DASHBOARD CARDS ========== */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 5px;
    font-size: 22px;
    color: #2e9e35;
}

/* ========== CHART AREA ========== */
.subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.chart-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* ========== LOGIN PAGE ========== */
.login-container {
    display: flex;
    height: 100vh;
}

/* Left panel */
.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5fff3;
}

.login-left img {
    width: 100%;
    max-width: 1080px;
}

/* Right panel */
.login-right {
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-wrap {
    display: flex ;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    width: 40px;
    margin-right: 8px;
    border-radius: 5px;
}

.logo-text {
    font-size: 28px;
    font-weight: 1000;
    color: #29b02a;
    font-family: "Source Sans 3";
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

/* Input group */
.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #dcdcdc;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    gap: 10px;
}

.input-group .icon {
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: none;
}

/* Button */
.btn-login {
    width: 100%;
    padding: 12px;
    background: #28a745;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-login:hover {
    background: #25963e;
}
